body {
  margin: 0;
}

.header {
  height: 81px;
  background-color: brown;
  display: flex;
  align-items: center;
  font-size: 25px;
  padding-left: 15px;
}

.sidemenu {
  height: 87%;
  background-color: grey;
  width: 25%;
  position: absolute;
}

.side-menu-profile-section {
  height: 30%;
  background-color: orange;
}

.side-menu-navigation-link {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.side-menu-navigation-link a {
 margin-left: 10px;
 color: black;
 text-decoration: none;
}

.side-menu-navigation-link a:hover {
  color: black;
 }

.side-menu-navigation-link button {
  height: 20px;
  border: none;
  background-color: grey;
  color: black;
  font-size: 25px;
  margin-top: -10px;
  margin-left: 5px;
  cursor: pointer;
}

.side-menu-footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}